@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: Roboto;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 21vh 79vh;
}

/* SIDEBAR */
.sidebar li:hover {
    cursor: pointer;
}

.sidebar {
    grid-row: 1 / 3;
    height: 100vh;
    background-color: rgb(42, 159, 255);
}

.sidebar a {
    color: white;
    font-family: Roboto;
    font-weight: bold;
    font-size: 26px;
    padding-left: 8px;
}

.logo {
    padding-top: 20px;
    padding-left: 24px;
    display: flex;
    align-items: center;
}

.main-nav-items ul,
.extra-nav-items ul {
    padding-left: 20px;
    margin-top: 40px;
}

.main-nav-items li,
.extra-nav-items li {
    font-family: Roboto;
    padding: 6px;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.main-nav-items svg,
.extra-nav-items svg {
    padding-right: 16px;
}

/* ----------------- TOP UI -------------------*/
.top-bar-container,
.top-bar-container > div,
.top-bar-container > :first-child,
.top-bar-container > :nth-child(2),
.notifications-small-profile,
.main-profile,
.searchbar {
    display: flex;
    font-weight: bold;
}

.top-bar-container > :first-child,
.top-bar-container > :nth-child(2) {
    align-items: center;
    justify-content: space-between;
}

.notifications-small-profile,
.main-profile {
     align-items: center;
}

.top-bar-container img:hover,
.top-bar-container button:hover,
.main-profile-text > :nth-child(2):hover,
.notifications-small-profile span:hover,
.notifications-small-profile svg:hover {
    cursor: pointer;
}

/* ------------------------------------------ */

.top-bar-container {
    padding: 20px 30px 10px 30px;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.164);
    z-index: 1;
}

.top-bar-container > :nth-child(2) {
    margin-bottom: 20px;
}

.main-profile-text {
    flex-direction: column;
}

.notifications-small-profile {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
}

.notifications-small-profile > svg {
    margin-right: 30px

    
}

.top-bar-container img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.top-bar-container .main-profile-photo {
    width: 70px;
    height: 70px;
}

.searchbar > input{
    margin-left: 10px;
    padding-left: 10px;
    border: none;
    width: 40vw;
    border-radius: 30px;
    background-color: rgb(219, 219, 219);
}

.main-profile-text {
    margin-left: 15px;
    gap: 5px;
    display: grid;
}

.main-profile-text > :nth-child(1) {
    font-size: 14px;
}

.main-profile-text > :nth-child(2) {
    font-size: 24px;
}

.ui-buttons {
    margin-top: 20px;
    display: grid;
    grid-auto-flow: column ;
    gap: 20px;
}

.ui-buttons button {
    width: 90px;
    height: 40px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15;
    color: white;
    border: none;
    background-color: rgb(42, 159, 255);
}


/* ---------------- MAIN DASHBOARD ---------------*/
.main-dashboard {
    padding: 10px 30px 0px 30px;
    background-color: rgb(235, 235, 235);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
}

.project-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding-right: 30px;
}

.your-projects-element {
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 10px 1fr;
    background-color: white;
    width: 100%;
    height: 21vh;
    position: relative;
}

.icon-container {
    position: absolute;
    bottom: 14px;
    right: 14px;
}

.icon-container svg:hover {
    cursor: pointer;
}

.your-projects-element > :nth-child(1) {
    height: 100%;
    width: 100%;
    background-color: orange;
}

.your-projects-element > :nth-child(2) {
    padding-left: 20px;
    padding-right: 20px;
}

.your-projects-element p {
    color: rgb(77, 77, 77);
}

/* anouncement section */
.announcement-container h3,
.announcement-container p {
    margin: 0px;
}

.announcement-container h3 {
    margin-top: 10px;
    font-size: 16px;
}

.announcement-container p {
    color: rgb(77, 77, 77);
    font-size: 14px;
    padding-bottom: 10px;
}

.announcements-element {
    border-bottom: 1px solid #bdbdbd;
}

.announcements-element:last-child {
    border-bottom: none
}

.announcement-container {
    padding: 10px 15px 10px 15px;
    border-radius: 10px;
    background-color: white;
}

.announcement-container {
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    background-color: white;
}

.announcements-element h3:hover {
    cursor: pointer;
}

/* TRENDING SECTION */
.trending-container {
    padding: 10px 20px 10px 20px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 23.3vh;
    border-radius: 10px;
    background-color: white;
}

.trending-element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.trending-element div {
    display: grid;
    grid-auto-flow: row;
}

.trending-element img {
    width: 38px;
    height: 38px;
    border-radius: 30px;
}

.profile-name {
    padding-left: 10px;
    font-weight: bold;
    font-size: 17px;
}

.profile-name + span {
    padding-left: 10px;
    font-size: 14px;
    color: rgb(77, 77, 77);
}

.trending-element img:hover,
.profile-name:hover {
    cursor: pointer;
}